[Desktop Entry]
Name=Stoat
Comment=User-first chat platform. 
Exec=stoat-desktop
Terminal=false
Type=Application
Icon=revolt-desktop
Categories=Network;InstantMessaging
StartupWMClass=StoatDesktop
